@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  line-height:1.5;
  text-transform: capitalize;
  overflow-x: hidden;
 
}
body {
  margin: 0;
  height: 100vh;
  background-color:black;
 
}
img {
  width: 100%;
  margin:0 auto;
  object-fit: cover;
}
form{
  display:flex;
  padding:1em;
justify-content: center;
  max-width:400px;
  margin:0 auto;
 gap:1rem;
 align-items: center;
}
input,button{
  border: 0;
  outline:none;
  padding:.5em 1em;
  text-transform: inherit;
  width:100%;
}
button{
  background-color:blueviolet;
  color:white;
  border-radius:.7em;
  font-size:1.2rem;
 width:50%;
}
input{
  font-size:1rem;
 border-radius:6px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1em;
  padding: 1em;
  
  place-items: center;
  
}
.article{
  padding:2em;
  display: grid;
  gap:.6rem;
  background-color:#1c1c1c;
  color: white;
  height:100%;
  place-content: center;
  border-radius:6px;

}
.article .title{
  font-size:1.1rem;
  padding:.5em;

  margin:0;

}
.article .desc{
font-size:.7rem;
margin-top:.5rem;

}
.article .text{
  font-size: .8rem;
}
.content{
  margin:0 auto;
  justify-self:center;
  padding-left:.6em;
}
.author{
  margin-bottom: 0;
  margin-top:1em;
  font-size:1rem;

}
.content p{
  margin: 0;
}
